<div
  class="container d-flex flex-column align-items-center justify-content-center"
  style="height: 100vh"
>
  <h4>
    Angular
    <code
      ><a
        class="text-decoration-none"
        href="https://valor-software.com/ngx-bootstrap/#/components/modals?tab=overview#service-component"
        target="_blank"
        >ngx-bootstrap</a
      ></code
    >
    Modal Slide From Left/Right
  </h4>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary p-3 m-5" (click)="launchLeftModal()">
      SLIDE FROM LEFT
    </button>
    <button class="btn btn-primary p-3 m-5" (click)="launchRightModal()">
      SLIDE FROM RIGHT
    </button>
  </div>
</div>
